.todo_list {
  margin: 100px 0;
  width: 1000px;
  min-height: 600px;
  padding: 20px 40px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 5px 15px rgb(195 195 195);
}
.todo_list h2 {
  font-size: 26px;
  font-weight: bold;
  color: rgb(131, 131, 131);
}
