.list_todo {
  width: 100%;
}
.strike {
  text-decoration: line-through;
  color: black;
}
.list_todo ul {
  margin: 0;
  padding: 0;
}
.list_todo ul li {
  width: 100%;
  min-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  list-style: none;
  transition: 0.5s ease-in-out;
}
.list_todo ul li:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 0 5px 15px rgb(195 195 195);
}
.list_todo ul li p {
  margin: 0;
  font-size: 16px;
  color: rgb(70, 70, 70);
}
.actions_todo {
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.actions_todo input {
  cursor: pointer;
  margin-top: 3px;
  width: 18px;
  height: 18px;
}
.actions_todo .btn_delete {
  cursor: pointer;
}
.actions_todo .btn_edit {
  cursor: pointer;
}
